<%= content_tag(:h1, @page_title) if @page_title.present? %>

<% if !@posts.empty? %>

  <% @posts.each do |post| %>
    <%= render :partial => 'post_stub', :locals => {:post => post} %>
  <% end %>

<% else %>

  <p>No posts found</p>

<% end %>